
GC_Lab4/obj/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.dll
GC_Lab4/bin/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/bin/Debug/net5.0/GC_Lab4.dll
.vs/GC_Lab4/v17/.suo
GC_Lab4/bin/Debug/net5.0/GC_Lab4.dll
GC_Lab4/bin/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.dll
GC_Lab4/obj/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.dll
GC_Lab4/bin/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/bin/Debug/net5.0/GC_Lab4.dll
GC_Lab4/obj/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.dll
GC_Lab4/bin/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/bin/Debug/net5.0/GC_Lab4.dll
.vs/GC_Lab4/DesignTimeBuild/.dtbcache.v2
.vs/GC_Lab4/v17/.futdcache.v1
GC_Lab4/bin/Debug/net5.0/GC_Lab4.dll
GC_Lab4/bin/Debug/net5.0/GC_Lab4.pdb
GC_Lab4/obj/Debug/net5.0/GC_Lab4.dll
GC_Lab4/obj/Debug/net5.0/GC_Lab4.pdb
